Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
*.log
.idea
Target
/Plugins/Developer
/Content/Developers
/Plugins/FMODStudio/Binaries
LocalDerivedDataCache